
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Board</title>
</head>
<body>
    <h1>留言板</h1>
    <br />
    <div>

    </div>
</body>
</html>
